<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- AdMob 이 자동으로 병합해 주지만, Play Console 의 광고 ID 선언과 어긋나지 않도록
         명시해 둔다. 광고 SDK 를 바꾸거나 빼도 선언이 조용히 사라지지 않는다. -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChipTally"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2707874353926722~1069632216" />
        <activity
            android:name=".presentation.setup.SetupActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.game.GameActivity" />
        <activity android:name=".presentation.history.HistoryActivity" />
        <activity
            android:name=".presentation.game.TransferActivity"
            android:theme="@style/Theme.ChipTally.Translucent"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.game.PotActivity"
            android:theme="@style/Theme.ChipTally.Translucent"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>
